<div class="c-sm-form">
  <form name="form-sm-subsscribe" id="form-sm-subsscribe" data-request="{{ __SELF__ }}::onAddSubscriber" data-request-update="'{{__SELF__}}::alert': '#result'">
    <input type="hidden" name="latitude" id="latitude">
    <input type="hidden" name="longitude" id="longitude">
    <input type="hidden" name="project" value="{{ project }}">
    <input type="hidden" name="contact_att" value="{{ contact_att }}">

    <div class="form-group text-field">
      <label for="email">Email Address</label>
      <input type="text" name="email" class="form-control">
    </div>

    {% if(displayFirstName) %}
    <div class="form-group text-field">
      <label for="firstname">First Name</label>
      <input type="text" name="firstname" placeholder="First Name" class="form-control">
    </div>
    {% endif %}

    {% if(displayLastName) %}
    <div class="form-group text-field">
      <label for="lastname">Last Name</label>
      <input type="text" name="lastname" placeholder="Last Name" class="form-control">
    </div>
    {% endif %}

    <button form="form-sm-subsscribe" class="btn">Subscribe</button>
  </form>
</div>

<div id="result"></div>